<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue App</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>Todo List</h1>
        <hr>
        <h4>Items: {{items.length}}</h4>
        <ol class="list-wrapper" v-if="items.length > 0">
            <todo-item
                v-for="item in items"
                v-bind:key="item.key"
                v-bind:item="item"
                v-on:delete-item="removeItem($event)"
            ></todo-item>
        </ol>
        <h5 v-else>No Items Added Yet.</h5>

        <div class="add-wrapper">
            <input v-model="newItem" v-on:keyup.enter="addItem" />
            <button @click="addItem">Add</button>
        </div>
    </div>
    <script src="js/app.js"></script>
</body>
</html>